#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	CARGO_HOME=.cargo ROSRUST_MSG_PATH=/usr/share/ cargo install --path=$(CURDIR) --root=$(CURDIR)/debian/termviz/usr/ --no-track
	dh_auto_install
